In [1]:
import numpy as np
import pandas as pd

In [57]:
df = pd.read_excel('H:\\DATA\\Sociability_data_for_Practice.xlsx')

In [3]:
df.head()

,Treatment,Sex,% Social investigation,Social investigation,Object investigation,Total Investigation
0,VEH/COM,Male,78.478136,25.897,7.102,32.999
1,VEH/CON,Male,87.745487,19.927,2.783,22.710
2,VEH/CON,Male,94.657700,35.189,1.986,37.175
3,VEH/CON,Male,84.840000,21.210,3.790,25.000
4,VEH/CON,Male,95.692308,37.631,1.694,39.325

In [4]:
x = df['Treatment'].str.upper()

In [5]:
df['Treatment'] = x

In [6]:
df.head()

,Treatment,Sex,% Social investigation,Social investigation,Object investigation,Total Investigation
0,VEH/COM,Male,78.478136,25.897,7.102,32.999
1,VEH/CON,Male,87.745487,19.927,2.783,22.710
2,VEH/CON,Male,94.657700,35.189,1.986,37.175
3,VEH/CON,Male,84.840000,21.210,3.790,25.000
4,VEH/CON,Male,95.692308,37.631,1.694,39.325

In [7]:
df.columns

Index(['Treatment', 'Sex', '% Social investigation', 'Social investigation',
       'Object investigation', 'Total Investigation'],
      dtype='object')

In [8]:
df.index

RangeIndex(start=0, stop=54, step=1)

In [9]:
df.columns[3]

'Social investigation'

In [10]:
df['Sex'][df['Treatment'] == 'VEH/COM']

0    Male
Name: Sex, dtype: object

In [11]:
x = True

In [12]:
x

True

In [13]:
type(x)

bool

In [27]:
x = df['Treatment'][df['Object investigation'] < 5]

In [32]:
df.head()

,Treatment,Sex,% Social investigation,Social investigation,Object investigation,Total Investigation
0,VEH/COM,Male,78.478136,25.897,7.102,32.999
1,VEH/CON,Male,87.745487,19.927,2.783,22.710
2,VEH/CON,Male,94.657700,35.189,1.986,37.175
3,VEH/CON,Male,84.840000,21.210,3.790,25.000
4,VEH/CON,Male,95.692308,37.631,1.694,39.325

In [33]:
np.unique(df['Treatment'])

array(['DEP/MS', 'VEH/COM', 'VEH/CON'], dtype=object)

In [44]:
df['Treatment'][0] = 'VEH/CON'

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [46]:
np.unique(df['Treatment'])

array(['DEP/MS', 'VEH/CON'], dtype=object)

In [48]:
df.head()

,Treatment,Sex,% Social investigation,Social investigation,Object investigation,Total Investigation
0,VEH/CON,Male,78.478136,25.897,7.102,32.999
1,VEH/CON,Male,87.745487,19.927,2.783,22.710
2,VEH/CON,Male,94.657700,35.189,1.986,37.175
3,VEH/CON,Male,84.840000,21.210,3.790,25.000
4,VEH/CON,Male,95.692308,37.631,1.694,39.325

In [50]:
len(df)

54

In [51]:
range(len(df))

range(0, 54)

In [52]:
for i in range(len(df)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53

In [60]:
for i in range(len(df)):
    if df['Treatment'][i] == 'VEH/COM':
        df['Treatment'][i] = 'VEH/CON'

D:\anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [62]:
df.head()

,Treatment,Sex,% Social investigation,Social investigation,Object investigation,Total Investigation
0,VEH/CON,Male,78.478136,25.897,7.102,32.999
1,VEH/CON,Male,87.745487,19.927,2.783,22.710
2,VEH/CON,Male,94.657700,35.189,1.986,37.175
3,VEH/CON,Male,84.840000,21.210,3.790,25.000
4,VEH/CON,Male,95.692308,37.631,1.694,39.325